body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 3rem;
}

h2 {
  margin: 0;
  margin-bottom: -2rem;
}

h5 {
  margin: 0;
  margin-top: .25rem;
  margin-bottom: .1rem;
}

nav {
  align-items: top;
  text-align: center;
  margin: 2em 0 7em ;
  }

nav a {
  display: inline-flexbox;
  padding: 1em 1em;
}

.boardContainer {
  display: flex;
  margin-top: -2em;
  margin-bottom: 0em;
  justify-content: center;
  align-items: top;
  min-height: 20vh;
  text-align: center;
}
.home{
  display: grid;
  margin-top: -3em;
  margin-bottom: 6em;
  min-height: 40vh;
}

.name{
  display: grid;
  margin-top: -3em;
  margin-bottom: 6em;
}

.hallOfBoards{
  display: grid;
  margin-top: -3em;
  margin-bottom: 3em;

}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 11.35em;
  margin-top: .8rem;
  margin-bottom: .5rem;
}

.button {
  border: 1px solid #333;
  border-radius: .98em;
  padding: .25rem;
  width: 12em;
  margin-top: .85rem;
}

.dropDown {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .2rem;
  width: 12em;
  margin-bottom: .5rem;
}

.form{
  margin-top: -11rem ;
}

.nameForm{
  margin-top: -11rem ;
}

#Name-save {
  border: 1px solid #333;
  border-radius: .2em;
  padding: .25rem;
  width: 3em;
  margin-top: .85rem;
}

.boardBox{}

#generalCaps{
position: absolute;
}

#highlightCaps{
position: absolute;
}

#action-caps{
position: absolute;
}

#housing{
  position: absolute;
  }