body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
}

h5 {
  margin: 0;
  margin-top: .25rem;
  margin-bottom: .1rem;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 11.35em;
  margin-top: .8rem;
  margin-bottom: .5rem;
}

.button {
  border: 1px solid #333;
  border-radius: .98em;
  padding: .25rem;
  width: 12em;
  margin-top: .85rem;
}

.dropDown {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .2rem;
  width: 12em;
  margin-bottom: .5rem;
}

.form{
  margin-top: -15em ;

}

.keyboard-image-div{
  margin-top: -23em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

#housing{
z-index: -1;
position: absolute;
}

#generalCaps{
z-index: 0;
position: absolute;
}

#highlightCaps{
z-index: 1;
position: absolute;
}

#action-caps{
z-index: 2;
position: absolute;
}